######################################################################
.vs/*
ScreenCaptureApp/bin/*
ScreenCaptureApp/.vs/*
ScreenCaptureApp/obj/*
ScreenCaptureApp/Properties/*
ScreenCaptureApp/ScreenCaptureApp.csproj.user
ScreenCaptureAppTest/bin/*
ScreenCaptureAppTest/obj/*
ScreenCaptureAppTest/.vs/*
ScreenCaptureAppTest/Properties/*


