<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Targets.Database" />
	</extensions>

	<variable name="logDirectory" value="logs" />
	
	<targets>
		<target xsi:type="File" name="sqlFileTarget" fileName="logs/sqlLog.sql" layout="INSERT INTO logging.log (macaddress,ipv6address ,timestamp,level, logger, message) VALUES ('${machinename}','${event-context:item=request-ipv6}', '${longdate}','${level}', '${logger}', '${message}');" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="sqlFileTarget" />
	</rules>
</nlog>
